/*############# VARIABLES  ###################*/
:root {
    /* Cambio el color a los colores de summant */
    --main_color: #1723FF;
    --secondary_color: #30E35E;
    --background_color: #D9D9D9;
}

/*#############   ###################*/